
.hidden {
    display: none;
}








.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
  

 

 
 

 

 

 
 

 
 #main-nav ul  {
    list-style: none;
   text-align: center;
 
   text-decoration: none;
  
  

 }

 #main-nav  div ul li a{
  
    text-decoration: none;
    text-align: end;
    display: inline;
    color: black;
   



 } 


 
 .logo{
    text-align: center;
    
    display: inline;
    
    
    padding-top: 0px;
    margin-top: 0px;
   
    align-items: center;
 }

 #lo h2{
    margin-top: 20px;
   
}

.blackbox{
  background-color: black;
  height: 400px;
  padding-right: 0px;
  margin-right: 0px;
}

.para {
  margin-left: 0px;
  padding-left: 0px;
}
@media screen and (max-width: 771px) {
  /* Your styles for screens wider than 600px go here */
  .blackbox{
    background-color: black;
    height: 300px;
    padding-right: 0px;
    margin-right: 0px;
    width: 300px;
  } 
}





#profession{
    margin-top: 40px;
}

#designer{
   
    color:  black;
    border-radius: 30px;
    text-align: center;
    padding: 4px 40px 4px 4px;
    border: 2px solid red;
}


#developer{
   
    color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    padding: 4px 40px 4px 4px;
    border: 2px solid red;
}

 


#bio h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 50px;
    color: red;

}
    
#bio p {
    font-size: 30px;
}

#bio {
    box-shadow: 20px 20px 50px 20px ;
    margin-top: 40px;
    background-color: gray;
    border: 2px solid red;
}



#skills {
    border: 3px solid red;
    margin-top: 70px;
    border-radius: 20px;
    background-color: grey;
   
}

#skills h3 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    color: red;

}
#design h4{

    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    


}
#design p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

#dev h5{

    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    


}
#dev  p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}




/**my work**/


 #mywork h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
    color: red;
    
 }
#mywork h3{
    text-align: center;
    font-size: 30px;
}


.image {
    position: relative;
    margin-top: 60px;
    background-image: url(../images/EARBUD-DESKTOP.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}




#loadmore a {
    text-align: center;
    color: azure;
    background-color: rgb(212, 21, 21);
    border: 2px white solid;
    font-size: 40px;
    text-decoration: none;

   
}
#loadmore {
    text-align: end;
    margin-top: 40px;
    
}

@media screen and (max-width: 607px){
  .blackbox{
    width: 200px;
  }
  #loadmore a {
    text-align: center;
    color: azure;
    background-color: rgb(212, 21, 21);
    border: 2px white solid;
    font-size: 20px;
    text-decoration: none;

   
}

  
}


/**case study */

#casestudy h3 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    color: red;
}
 #casestudy div {
    margin-top: 40px;
    margin-bottom: 40px;
 }

 
 #casestudy p {
font-size: 29px;

 }

 /** contact6 page */
 

 
  #contact h3 {
    text-align: center;
   
    font-size: 50px;
    margin-top: 40px;
  }


  #contact h2 {
    font-size: 20px;
 border: 2px solid red;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 20px;
  

    
  }


  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #c61717;
    border-radius: 6px; 
    
    margin-top: 7px; 
    margin-bottom: 17px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #e9110d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #7d0202;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  div.scroll-container {
    
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

.container{
    position: relative;
    
}

.img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #f8120e;
}

.container:hover .overlay
{
    opacity: 0.8;
}

.text  a {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 43%;
    text-decoration: none;
    border: 2px solid white;
    
    text-align: center;
}































