
.hidden {
    display: none;
}




 
 
 
 
 #main-nav ul  {
    list-style: none;
   text-align: center;
   background-color: aqua;
   text-decoration: none;
  

 }

 #main-nav ul li a{
    list-style: none;
    text-decoration: none;
    text-align: end;
    display: inline;

 } 
 
 .logo{
    text-align: center;
    
    display: inline;
    
    padding-top: 0px;
    margin-top: 0px;
 }

 #logo h2{
    margin-top: 20px;
   
}


#profession{
    margin-top: 40px;
}

#designer{
   
    color:  black;
    border-radius: 30px;
    text-align: center;
    padding: 4px 40px 4px 4px;
    border: 2px solid red;
}


#developer{
   
    color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    padding: 4px 40px 4px 4px;
    border: 2px solid red;
}

 


#bio h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 50px;

}
    
#bio p {
    font-size: 30px;
}

#bio {
    box-shadow: 20px 20px 50px 20px ;
    margin-top: 40px;
    background-color: gray;
    border: 2px solid red;
}



/**my work**/


 #mywork h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
    color: red;
    
 }
#mywork h3{
    text-align: center;
    font-size: 30px;
}


.image {
    position: relative;
    margin-top: 60px;
    background-image: url(../images/EARBUD-DESKTOP.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.image:hover {
    filter: grayscale(90%); 
    transition: 0.5s;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    justify-content: center;
   
}

#ju {
    margin-top: 300px;
    border: 2px solid white;
    background-color: red; 
    
    height: 70px;
    width: 190px;
 
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 100px;
    margin-left: 500px;
}

#ju a 
{
    color: aliceblue;
    text-decoration: none;
}










































/*




 #logo  img {
    margin-left: 400px;


 
 }


 #col{
    background-color: rgb(208, 200, 215);
 }


#main{
    background-color: rgb(137, 131, 131);
}

#logo h2{
    margin-top: 20px;
   
}
.junish{
    width: 500px;
    display: inline;

text-align: center;}



#profession{
    margin-top: 40px;
}

#designer{
    background-color: aquamarine;
    color: aliceblue;
    border-radius: 30px;
    text-align: center;
    padding: 4px 40px 4px 4px;
}


#developer{
    background-color: aquamarine;
    color: aliceblue;
    border-radius: 30px;
    text-align: center;
    padding: 4px 40px 4px 4px;
}


.image{
    background-color: black;
  width: 430px;
  height: 510px;
  margin-top: 30px;
}

#bio h2{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
.bio h3{
    color: blueviolet;
    font-size: 30px;
    margin-top: 30px;
}








 @media screen and (max-width:720px) {
    #logo { 
        margin-left: 250px;
        height: 500px;
        width: 500px;
        align-content: center;
    }
 } -->